<section>
    <h3>Triple image section</h3>
</section>

{% schema %}
    {
      "name": "Triple image",
      "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          }
      ],
      "presets": [
        {
            "name": "Triple image",
            "category": "Image"
        }
     ]
    }
{% endschema %}